# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data and outputs
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/labels/*
!data/labels/.gitkeep

# VS Code
.vscode/
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Misc
*.log
